<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>andathen-central-updated</display-name>
  <context-param>
    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <servlet-name>facesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <context-param>
    <param-name>javax.faces.validator.ENABLE_VALIDATE_WHOLE_BEAN</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.ENABLE_CDI_RESOLVER_CHAIN</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>facesServlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>messages</servlet-name>
    <servlet-class>nl.andathen.central.services.wsdl.message.MessageWSDL</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>messages</servlet-name>
    <url-pattern>/services/wsdl/message/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cultures</servlet-name>
    <servlet-class>nl.andathen.central.services.wsdl.culture.CultureWSDL</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cultures</servlet-name>
    <url-pattern>/services/wsdl/culture/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sessions</servlet-name>
    <servlet-class>nl.andathen.central.services.wsdl.session.SessionWSDL</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessions</servlet-name>
    <url-pattern>/services/wsdl/session/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>resource-img</servlet-name>
    <servlet-class>nl.andathen.central.util.image.DatabaseImageServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>resource-img</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>
</web-app>